body
{
background-position: center;
background-size: cover;
background-color: #333;

}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
color: #333;
}

#status , #number_of_objects
{
font-size: 18px;
display: none;
}

canvas
{
box-shadow: 10px 10px 10px rgb(41, 42, 42);
border-radius: 10px;
margin-top: 30px;
}

#footer
{
    bottom:0;
    position:fixed;
    background-color: grey;
    color: black;
}